.hmw {
  $half-gutter: 15px;
  $container-margin-md: 24px;

  @include flex;
  text-align: center;
  width: calc(100% + $half-gutter * 2);
  margin: 0 -#{$half-gutter};
  padding: 90px $half-gutter;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba($black, 0.3) 0%,
      rgba($black, 0) 100%
    ),
    linear-gradient(0deg, $grey-2, $grey-2);

  &-text {
    @include text-style(h4, $grey-5);
  }

  @include responsive(T) {
    width: calc(100% + $half-gutter * 2 +$container-margin-md * 2);
    margin: 0 -#{$half-gutter + $container-margin-md};
    padding: 110px $half-gutter + $container-margin-md;

    &-text {
      @include text-style(h3);
    }
  }

  @include responsive(T) {
    width: calc(100% + $half-gutter * 2 +$container-margin-md * 2);
    margin: 0 -#{$half-gutter + $container-margin-md};
    padding: 110px $half-gutter + $container-margin-md;

    &-text {
      @include text-style(h3);
    }
  }

  @include responsive(D) {
    width: calc(100% + $half-gutter * 2);
    margin: 0 -#{$half-gutter};
    padding: 145px $half-gutter;

    &-text {
      @include text-style(desktop-h3);
    }
  }
}
