$main-dark-purple: #331b3f;
$main-cambridge-blue: #acc7b4;
$main-coral: #fa825b;

$ghost-white: #f0eff4;
$white: #fbfffe;
$dutch-white: #e8d5b5;
$mint-cream: #edf4ed;

$maximum-yellow-red: #ffbc56;
$dark-sky-blue: #87b0cd;
$wintergreen-dream: #4b8178;
$sage: #c9cba3;
$icterine: #f9f871;

$old-lavender: #7d7483;
$heliotrope-grey: #b2a7b8;
$french-lilac: #7c608f;

$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-4: #bdbdbd;
$grey-5: #e0e0e0;
$grey-6: #f2f2f2;

$black: #000;

// theme colour: tedx

$tedx-red: #ff2b06;

// theme colour: cgv

$cgv-red: #e41e1f;
$cgv-dark-orange: #e56237;
$cgv-grey: #363f47;
$cgv-bg-light: #fffbf0;
$cgv-bg-dark: #363f47;
$cgv-light-orange: #fc6c22;
$cgv-yellow: #fed305;
$cgv-green: #27ad61;

$cgv-grey-1: #72797e;
$cgv-grey-2: #afb2b5;
$cgv-grey-3: #c3c5c8;
$cgv-grey-4: #d7d9da;
$cgv-grey-5: #ebeced;

// theme colour: tedx

$golden-light-bg: #fcfbf8;
$golden-light-gold: #faad14;
$golden-light-green: #00a365;
$golden-light-purple: #474787;
$golden-light-red: #eb3b5a;

$golden-dark-bg: #1e272e;
$golden-dark-gold: #ffd666;
$golden-dark-green: #00dc98;
$golden-dark-purple: #706fd3;
$golden-dark-red: #fc5c65;

$golden-light-rose: #c44569;
$golden-light-tulip: #f78fb3;
$golden-light-tengerine: #e66767;
$golden-light-apricot: #f19066;
$golden-light-forest: #006b60;
$golden-light-cyanite: #3dc1d3;
$golden-light-sky: #2d98da;
$golden-light-indigo: #546de5;
$golden-light-grape: #6c5ce7;
$golden-light-eggplant: #574b90;

$golden-light-rose: #cf6a87;
$golden-light-tulip: #f8a5c2;
$golden-light-tengerine: #ea8685;
$golden-light-apricot: #f3a683;
$golden-light-forest: #61baad;
$golden-light-cyanite: #63cdda;
$golden-light-sky: #45aaf2;
$golden-light-indigo: #778beb;
$golden-light-grape: #a29bfe;
$golden-light-eggplant: #786fa6;
