$main-dark-purple: #331b3f;
$main-cambridge-blue: #acc7b4;
$main-coral: #fa825b;
$ghost-white: #f0eff4;
$white: #fbfffe;
$dutch-white: #e8d5b5;
$mint-cream: #edf4ed;
$maximum-yellow-red: #ffbc56;
$dark-sky-blue: #87b0cd;
$wintergreen-dream: #4b8178;
$sage: #c9cba3;
$icterine: #f9f871;
$old-lavender: #7d7483;
$heliotrope-grey: #b2a7b8;
$french-lilac: #7c608f;
