@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

// @font-face {
//   font-family: 'Druk Wide Web';
//   src: local('Druk Wide Web'), local('Druk Wide Bold'), local('Druk Wide');
//   src: url('../fonts/DrukWide-Bold-Web.woff') format('woff'),
//     url('../fonts/DrukWide-Bold-Web.woff2') format('woff2');
//   font-weight: 700;
//   font-style: normal;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: 'Tiempos';
//   src: local('Tiempos Text'), local('TiemposText'), local('Tiempos'),
//     url('../fonts/Tiempos-Text/TiemposText-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// global
$font-family-header: 'Druk Wide Web', serif;
$font-weight-header: 700;
$font-family-sub: 'Courier New', monospace;
$font-weight-sub: 300;
$font-weight-sub-bold: 700;
$font-family-body: 'Lato', sans-serif;
$font-weight-body: 300;
$font-weight-body-bold: 700;

// common(all devices)

$font-size-body: 16px;
$font-height-body: 24px;
$font-spacing-body: -0.005em;

$font-size-link: 16px;
$font-height-link: 18px;
$font-spacing-link: -0.005em;

//mobile

$font-size-h1: 32px;
$font-height-h1: 40px;
$font-spacing-h1: 0;

$font-size-h1-sub: 28px;
$font-height-h1-sub: 35px;
$font-spacing-h1-sub: -0.01em;

$font-size-h2: 28px;
$font-height-h2: 35px;
$font-spacing-h2: -0.01em;

$font-size-h2-sub: 24px;
$font-height-h2-sub: 30px;
$font-spacing-h2-sub: -0.01em;

$font-size-h3: 24px;
$font-height-h3: 30px;
$font-spacing-h3: -0.01em;

$font-size-h3-sub: 18px;
$font-height-h3-sub: 20px;
$font-spacing-h3-sub: -0.005em;

$font-size-h4: 20px;
$font-height-h4: 30px;
$font-spacing-h4: -0.005em;

$font-size-h4-sub: 16px;
$font-height-h4-sub: 18px;
$font-spacing-h4-sub: -0.005em;

$font-size-h5: 18px;
$font-height-h5: 22.5px;
$font-spacing-h5: -0.005em;

$font-size-h6: 16px;
$font-height-h6: 20px;
$font-spacing-h6: -0.005em;

$font-size-caption: 12px;
$font-height-caption: 21px;
$font-spacing-caption: 0;

// desktop

$desktop-font-size-h1: 40px;
$desktop-font-height-h1: 50px;
$desktop-font-spacing-h1: 0;

$desktop-font-size-h1-sub: 32px;
$desktop-font-height-h1-sub: 40px;
$desktop-font-spacing-h1-sub: -0.01em;

$desktop-font-size-h2: 32px;
$desktop-font-height-h2: 40px;
$desktop-font-spacing-h2: 0;

$desktop-font-size-h2-sub: 28px;
$desktop-font-height-h2-sub: 35px;
$desktop-font-spacing-h2-sub: -0.01em;

$desktop-font-size-h3: 28px;
$desktop-font-height-h3: 35px;
$desktop-font-spacing-h3: -0.01em;

$desktop-font-size-h3-sub: 20px;
$desktop-font-height-h3-sub: 25px;
$desktop-font-spacing-h3-sub: -0.005em;

$desktop-font-size-h4: 24px;
$desktop-font-height-h4: 30px;
$desktop-font-spacing-h4: -0.01em;

$desktop-font-size-h4-sub: 16px;
$desktop-font-height-h4-sub: 24px;
$desktop-font-spacing-h4-sub: -0.005em;

$desktop-font-size-h5: 20px;
$desktop-font-height-h5: 25px;
$desktop-font-spacing-h5: -0.005em;

$desktop-font-size-h6: 16px;
$desktop-font-height-h6: 20px;
$desktop-font-spacing-h6: -0.005em;

$desktop-font-size-caption: 14px;
$desktop-font-height-caption: 21px;
$desktop-font-spacing-caption: 0;
